// COLORS
$color-primary: #10083F;
$color-neutral-active: #E2E1E8;
$color-label: #706B8C;
$color-label-disabled: #B8B5C6;
$color-label-informative: #0E5AED;
$color-surface: #F3F3F5;
$color-accent: #FFDD33;
$color-accent-surface: #FFF8D9;
$color-danger: #ED6A5A;
$color-decorative-violet: #7C4EFF;
$color-decorative-green: #43A800;
$color-decorative-red: #FF482B;
$color-border: #DBDAE2;
$color-surface-inverse: #2C2C2C;
